
* {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  padding: 0;
  margin: 0;
}

* a {
  text-decoration: none;
}

* a:hover {
  background-color: blueviolet;
}

* a:active {
  color: red;
}

.mobile-main {
  width: 375px;
  height: 5410px;
}

.head {
  display: flex;
  height: 48px;
  justify-content: space-between;
}

.logoplace {
  width: 100px;
  height: 49px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoplace a {
  width: 76px;
  height: 20px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #6070ff;
  text-decoration: none;
}

.humbergur {
  width: 40px;
  height: 40px;
  padding: 8px;
}

.headline {
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  background: url("images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.pr-t {
  width: 100%;
  height: 150px;
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.sec-t {
  width: 320px;
  height: 140px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.soci-med {
  height: 24px;
  display: flex;
}

.soci-med h6 {
  margin-top: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.icons {
  width: 170.17px;
  height: 20px;
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-left: 0;
  padding-top: 20px;
}

.works {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  padding: 114px 24px;
  width: 375px;
  height: 3218px;
  background: #f7f7f9;
}

.cardworks1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  background: #fff;
  padding: 16px;
  height: 670px;
  width: 350px;
}

.snapshot {
  width: 340px;
  height: 220px;
}

.leftblock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 340px;
  height: 288px;
}

.prim-txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: space-between;
  padding: 0;
  width: 295px;
  height: 75px;
}

.prim-txt h2 {
  width: 295px;
  height: 36px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.prim-txt img {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 236px;
  height: 32px;
}

.leftblock p {
  margin-top: 40px;
  width: 220px;
  height: 95px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

form ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.tags > ul {
  list-style: none;
  width: 203px;
  height: 40px;
  display: flex;
  gap: 8px;
  padding: 0;
  margin-left: 0;
}

.html1 {
  width: 53px;
  height: 24px;
  color: blue;
  text-align: center;
  background: #ebebff;
  border-radius: 8px;
}

.css1 {
  width: 53px;
  height: 24px;
  color: blue;
  text-align: center;
  background: #ebebff;
  border-radius: 8px;
}

.java {
  width: 90px;
  height: 24px;
  color: blue;
  text-align: center;
  background: #ebebff;
  border-radius: 8px;
}

.action {
  margin-top: 0;
  padding-top: 0;
  width: 295px;
  height: 72px;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 100px;
  height: 25px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  text-align: center;
}

.button a {
  text-decoration: none;
  font-weight: 550;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-content: center;
  justify-content: center;
  letter-spacing: 0.03em;
  color: #396df2;
}

.cardworks2 {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  background: #fff;
  padding: 16px;
  height: 800px;
  width: 350px;
}

.cardworks2 .prim-txt {
  margin-top: 40px;
  height: 124px;
}

.cardworks2 h2 {
  width: 200px;
}

.cardworks2 img {
  margin-top: 40px;
}

.cardworks3 {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  background: #fff;
  padding: 16px;
  height: 670px;
  width: 350px;
}

.cardworks4 {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  background: #fff;
  padding: 16px;
  height: 648px;
  width: 350px;
}

.cardworks4 .prim-txt {
  margin-top: 40px;
  height: 124px;
}

.cardworks4 h2 {
  width: 200px;
}

.cardworks4 img {
  margin-top: 40px;
}

.main3 {
  height: 310px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
}

.about {
  display: flex;
  flex-direction: column;
  height: 130px;
}

.about > h2 {
  display: flex;
  width: 227px;
  line-height: 52px;
  padding: 5px;
  font-weight: 550;
  font-size: 40px;
  align-items: center;
  color: #172b4d;
}

.normal {
  margin-left: 0;
}

.normal > a {
  margin-top: 20px;
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 130px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: #396df2;
  font-weight: bold;
  justify-content: center;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-top: 20px;
  width: 327px;
  height: 464.15px;
}

.skill ul {
  list-style: none;
}

.languages {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.languages > p {
  display: flex;
  margin-left: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.lang {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 12px;
  width: 327px;
  height: 248.15px;
}

.badge {
  display: flex;
  width: 303px;
  height: 66.72px;
  align-items: center;
  background: #f7f7f9;
  gap: 10px;
  border-radius: 8px;
}

.badge > p {
  font-weight: 550;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.badge > img {
  margin-left: 12px;
  height: 48px;
  width: 48px;
}

.fr {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 327px;
  height: 72px;
}

.frr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  height: 72px;
  margin-left: 52px;
}

.fr > p {
  font-weight: 548;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.frr > p {
  font-weight: 548;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.fr img {
  width: 24px;
  height: 24px;
}

hr {
  width: 100%;
}

.contact-form {
  margin-top: 150px;
  border-top-left-radius: 68px;
  display: flex;
  flex-direction: column;
  width: 373px;
  height: 779px;
  background: #6070ff;
  background-image: url("images/contact\ form.png");
  background-size: 410px 740px;
  background-repeat: no-repeat;
}

.contact-form h2 {
  margin-top: 120px;
  width: 327px;
  height: 56px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.contact-form p {
  margin-top: 20px;
  margin-left: 24px;
  width: 327px;
  height: 102px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

form {
  width: 327px;
  padding: 20px;
}

form .txt {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  width: 100%;
  padding-left: 10px;
  height: 100%;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

.ta {
  padding: 10px;
}

.inp {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 327px;
  height: 48px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

textarea {
  height: 170px;
  width: 310px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}

form button {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #6070ff;
  width: 142px;
  height: 48px;
  background: #fff;
  border-radius: 8px;
}

button:hover {
  background-color: violet;
}

button:active {
  color: red;
}

.hl {
  margin-top: 25px;
  margin-left: 95px;
  width: 134px;
  height: 5px;
  background: #0d151e;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  * {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
  }

  * a {
    text-decoration: none;
  }

  * a:hover {
    background-color: blueviolet;
  }

  * a:active {
    color: red;
  }

  .mobile-main {
    position: relative;
    width: 1440px;
    max-width: 100%;
    height: 5125px;
    background: #f4f5f7;
  }

  .humbergur {
    display: none;
  }

  .head {
    position: absolute;
    width: 1440px;
    height: 72px;
    left: 0;
    top: 0;
    background: #fff;
    background-repeat: no-repeat;
  }

  .logoplace {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: absolute;
    width: 100px;
    height: 40px;
    left: 143px;
    top: calc(50% - 40px / 2);
  }

  .top ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    position: absolute;
    width: 259px;
    height: 40px;
    left: 1039px;
    top: 16px;
  }

  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    gap: 10px;
    height: 40px;
  }

  .item a {
    height: 20px;
    width: 63px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #344563;
  }

  .item1 {
    width: 87px;
  }

  .item2 {
    width: 70px;
  }

  .item3 {
    width: 86px;
  }

  .item1 a {
    width: 63px;
  }

  .item2 a {
    width: 46px;
  }

  .item3 a {
    width: 62px;
  }

  .headline {
    position: absolute;
    top: 71px;
    left: 0;
    width: 1440px;
    height: 846px;
    background: #fff;
    background-image: url("images/Header\ bg@2x.png");
    background-size: 1440px 916px;
    background-repeat: no-repeat;
    border-bottom-left-radius: 70px;
  }

  .des-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    position: absolute;
    width: 920px;
    height: 268px;
    left: 260px;
    top: calc(50% - 268px / 2);
  }

  .pr-t h1 {
    width: 920px;
    height: 122px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 0.37px;
    color: #091e42;
    word-wrap: normal;
  }

  .sec-t p {
    width: 920px;
    height: 98px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    word-wrap: normal;
  }

  .soci-med h6 {
    width: 130px;
    height: 24px;
  }

  .socm-icons {
    position: absolute;
    width: 170.17px;
    height: 20px;
    left: 260px;
    top: 670px;
  }

  .works {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 142px;
    gap: 142px;
    width: 1440px;
    height: 2694px;
    left: 0;
    top: 917px;
  }

  .cardworks1 {
    position: absolute;
    height: 496px;
    width: 1156px;
    left: 142px;
    top: 142px;
    border-radius: 0;
  }

  .cardworks1 .snapshot {
    position: absolute;
    width: 544px;
    height: 448px;
    left: 24px;
    top: 24px;
    border-radius: 8px;
  }

  .cardworks3 .snapshot {
    position: absolute;
    width: 544px;
    height: 448px;
    left: 24px;
    top: 24px;
    border-radius: 8px;
  }

  .leftblock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    position: absolute;
    width: 544px;
    height: 445px;
    left: 590px;
    top: 24px;
  }

  .prim-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    width: 496px;
    height: 98px;
  }

  .prim-txt h2 {
    width: 496px;
    height: 46px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .prim-txt img {
    width: 297px;
    height: 40px;
  }

  .leftblock p {
    margin-top: 0;
    width: 496px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    width: 203px;
    height: 24px;
  }

  .lskill {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    width: 53px;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
  }

  .html1 {
    width: 53px;
  }

  .css1 {
    width: 45px;
  }

  .java {
    width: 89px;
  }

  .action {
    width: 496px;
    height: 153px;
  }

  .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    position: absolute;
    width: 124px;
    height: 48px;
    left: 28px;
    top: 285px;
    border: 1px solid #6070ff;
    border-radius: 8px;
  }

  .button a {
    width: 100px;
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
  }

  .cardworks2 .button {
    top: 340px;
  }

  .cardworks4 .button {
    top: 340px;
  }

  .cardworks2 {
    position: absolute;
    height: 496px;
    width: 1156px;
    left: 142px;
    top: 780px;
    border-radius: 0;
  }

  .fmob {
    display: none;
  }

  .cardworks2 .snapshot {
    position: absolute;
    width: 544px;
    height: 448px;
    left: 590px;
    top: 24px;
    border-radius: 8px;
  }

  .cardworks4 .snapshot {
    position: absolute;
    width: 544px;
    height: 448px;
    left: 590px;
    top: 24px;
    border-radius: 8px;
  }

  .cardworks2 .leftblock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    position: absolute;
    width: 544px;
    height: 465px;
    left: 24px;
    top: 24px;
  }

  .cardworks4 .leftblock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    position: absolute;
    width: 544px;
    height: 465px;
    left: 24px;
    top: 24px;
  }

  .cardworks2 .prim-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    width: 496px;
    height: 98px;
  }

  .cardworks4 .prim-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    width: 496px;
    height: 98px;
  }

  .cardworks2 h2 {
    width: 496px;
    height: 46px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .cardworks4 h2 {
    width: 496px;
    height: 46px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .cardworks2 p {
    width: 496px;
    height: 70px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .cardworks4 p {
    width: 496px;
    height: 70px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .cardworks3 {
    position: absolute;
    height: 496px;
    width: 1156px;
    left: 142px;
    top: 1418px;
    border-radius: 0;
  }

  .cardworks4 {
    position: absolute;
    height: 496px;
    width: 1156px;
    left: 142px;
    top: 2056px;
    border-radius: 0;
  }
}
